{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-jsx",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic" // 这是React 17+ 引入的新JSX转换，适用于React 18
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}